.chosenClass {
  background-color: rgb(182, 216, 255);
}
.drag {
  &-item {
    position: relative;
    cursor: move;
    &-btn {
      position: absolute;
      display: none;
      top: -13px;
      right: 8px;
    }
    &:hover, &-active {
      .el-form-item {
        background-color: #f5f7fa;
      }
      .drag-item-btn {
        display: block;
      }
    }
    .el-form-item {
      padding: 12px 10px;
      border-radius: 4px;
    }
  }
  &-row {
    min-height: 80px;
    padding: 10px;
    margin-bottom: 14px;
    border: 1px dashed #78868d;
    color: #78868d;
    border-radius: 4px;
    >div {
      height: 100%;
    }
    &-title {
      font-size: 14px;
      margin-bottom: 10px;
    }
    &:hover, &-active {
      color: #2296f5;
      border-color: #2296f5;
      .drag-item-btn {
        display: block;
      }
    }
  }
}